/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 450px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
    margin-top:0px !important;
    padding-top:20px;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog{
    left: -430px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
    left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
    right: -450px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
}



.label-suspended{
    background:#9b59b6;
    color:#fff;
}
.label-no-analysis{
    background:#e67e22;
    color:#fff;
}


.btn-suspended{
    background:#9b59b6;
    color:#fff;
    border:1px solid #9b59b6;
}

.btn-suspended:hover{
    background:#9b59b6;
    color:#fff;
    border:1px solid #9b59b6;
}

.btn-no-analysis{
    background:#e67e22;
    color:#fff;
    border:1px solid #e67e22;
}

.btn-no-analysis:hover{
    background:#e67e22;
    color:#fff;
    border:1px solid #e67e22;
}

.thread-avatar{
    width:32px;
    height:32px;
    float:left;
    border-radius:50%;
    overflow:hidden;
    background-size:cover;
}
.thread-unread{
    font-weight: bold;
}
.thread-list ul {
    line-height:31px !important;
}
.thread-name{
    margin-left:20px;
}
.thread-count{
    margin-top: 5px;
}
.thread-messages ul{
    list-style-type: none;
}
.message-self{
    text-align: right
}
.message-friend{
    text-align: left;
}
.thread-messages > li{
    display: block;
    list-style: none;
    padding: 9px 16px;
}
.thread-messages {
    position: relative;
    display: inline-block;

    font-size: 13px;
    padding: 6px 8px;
    border-radius: 3px;
    white-space: normal;
    text-align: left;
    /*margin-left: 40px;*/
}

.dubito-meta{
    width: 20% !important;
}

.hidden{
    display: none;
}

.evidence-gallery-container .item .photo .img .over .evidence-func a {
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}


.evidence-func {
    margin-left:10px;
}


.assign-user-to-case{
    display: inherit;
}
.evidence-file-name {
    list-style-type: none;
}

.account-avatar{
    width: 25px;
    height: 25px;
    display: block;
    border-radius: 50px;
    overflow: hidden;
    vertical-align: middle;
    float: left;
    margin-top: -5px;
}